[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/pachinko
[access "refs/for/refs/*"]
	read = group user/pachinko
	push = group user/pachinko
	label-Code-Review = -2..+2 group user/pachinko
	label-Verified = -1..+1 group user/pachinko
	rebase = group user/pachinko
	removeReviewer = group user/pachinko
	submit = group user/pachinko
[access "refs/heads/*"]
	read = group user/pachinko
	create = group user/pachinko
	push = +force group user/pachinko
	pushMerge = group user/pachinko
[access "refs/tags/*"]
	push = +force group user/pachinko
	pushTag = group user/pachinko
	pushSignedTag = group user/pachinko
